






/*style="position: fixed; bottom: 0; width: 100%;"*/



:root{
	--acc-sign-blr:#ff8080;
}


.navbar{/* next four - navigation bar at top */
	background-color:#030506 ; /* as long as bg img is used no color needed here  */
	/*background-image: url('../Resources/images/003.jpg'); not used now */
	width:100%;
	height:52px;
	text-decoration:none;
 border-bottom-right-radius: 10px;
 border-bottom-left-radius: inherit;
   outline: none;
   border-width: 0px;
   border-bottom-style: solid;
	padding-left: inherit;
	padding-right: inherit;
	margin: 0;
   box-shadow:  0 0 10px 0px #1a2a33;
   display: inline-block;
 }
.navtxt {
	 text-align: center;
	color:#f2f2f2;
	text-align:center;
	padding: 2px;
	margin: 10px;
	object-fit: cover;
	cursor: pointer;
	margin-left : 48%;
	margin-right:  48%;
	font-size:24px;
	text-decoration:none;
	border-radius: 5px;
	position: absolute;
} 

.navbar a {
	float:left;
	color:#f2f2f2;
	text-align:center;
	padding: 14px 16px;
	font-size:24px;
	text-decoration:none;
	border-radius: 5px;
	position: relative;
}

.navbar a:hover {
	color:#ddd;
	background-color:#6F6A6F;
	text-decoration:none;
	transform: scale(1.05) ;
}

.navbar a.active{
	background-color:#04AA6D;
	color:white;
	text-decoration:none;
}/* navigation ends */

.actives{
	border-width: 0 0 2px 0 ;
	border-color: antiquewhite;
	border-style:  solid;
}

#home_btn{
		border-bottom-left-radius:inherit ;

}
#switch {
 
	float: right;

}

#account{
	border-bottom-right-radius:inherit ;
	border-width: 0 0 2px 0 ;
	border-color:	 var(--acc-sign-blr);
	border-style:  solid;
 
	float: right;
}
.accountCl {
  height: 10em;
  width: 15em;
  border-radius: 10px;
  box-shadow: 0 0 5px 5px #d5d5e5;
  margin: 4em auto;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputBar {
margin: 0.5em;
padding: 0.5em;
border-radius: 5px;
background-color: #f2f2f2;
border: 1px solid #ccc;
outline: none;
text-decoration: none;
text-align: center;
width: 80%;
}

.signInBtn {
border: none;
outline: none;
font-size: 1em;
border-radius: 15px;
margin: 0.5em;
padding: 0.5em 2em;
text-decoration: none;
background-color: #4CAF50;
color: #fff;
box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

.signInBtn:hover {
cursor: pointer;
background-color: #3e8e41;
}


/* */
.cont{/* main container - used in many pages - this and next two used in home-index and home novel as is */
	width: device-width;
	margin: 20px;
	padding: 10px;
	background-color: inherit;
	color: inherit;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
   text-align: center;
	position: relative;
}
.dummy_cont{
	width:                                                                                                                                                                                                                                          ;
	margin: 10px;
	padding: 5px;
	background-color: inherit;
	color: inherit;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
   text-align: center;
	position: relative;
}
.cont_inside_cont{
	width: 480px;
	height:18%;
	margin:10px;
	background-color: inherit;
	color: inherit;
 
	border-radius: 10px;
	padding: 5px;
	justify-content: center;
	text-align: center; 
	padding: relative;
	cursor: pointer;
	box-shadow:var(--bsc);
}

.box-shadow0{
   --bsc :0 0 10px 0px #d6d6c2;
}

.box-shadow1{
	   --bsc :0 0 10px 0px black;
}

.font{
	font-family: "Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji",SFMono-Regular, Menlo, Monaco, Consolas,"Liberation Mono", "Courier New", monospace;
}
.abc {
	   width: 100%;
	    
     overflow: hidden;
     display: inline-block;
     text-overflow: ellipsis;
      text-align: center;
     font-family: "Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji",SFMono-Regular, Menlo, Monaco, Consolas,"Liberation Mono", "Courier New", monospace;
     

}
.abc_fix{
	margin: 0;
	font-size: 30;
}

.cont_inside_cont_img > img{
	width:92%;
	height: auto;
	margin: 20px;
	justify-content: center;
	border-radius:5px;
 
  background-color: inherit;
  color: inherit;
 
  	box-shadow: 0px 0px 10px 0px #d6d6c2;
}


.contH{/* main container - used in many pages - this and next two used in home-index and home novel as is */
	width: 100%;
	margin: 20px;
	padding: 10px;
	background-color: inherit;
	color: inherit;
  flex-wrap: wrap;
  flex-direction: row;
  display: flex;
	justify-content: center;
   text-align: center;
	position: relative;
}

.cont_inside_contH{
	width: 60%;
	height:20%;
	margin:20px;
	margin-top:5px ;
	margin-bottom: 0px;
	background-color: inherit;
	color: inherit;
 
	border-radius: 15px;
	padding: 5px;
	justify-content: center;
	text-align: center; 
	padding: relative;
	cursor: pointer;
	box-shadow:  0 0 10px #d6d6c2;
 
}


.cont_inside_cont_Himg > img{
	width:100%;
	height: auto;
	justify-content: center;
	object-fit: cover;
	border-radius:15px ;
	border-width: 1px;
	padding-bottom: 4px;
	padding-right: inherit;
	padding-left: inherit;
}
 .drpshow { /* drop down stuff */
 	display: none;
 }



.vid0{
	width: device-width;
	height: 100%;
	margin: 10;
	position: relative;
	background-color:  inherit;
	color: inherit;}
.vid1{
	width: 60%;
	float: right;
	margin: 10px	;
	margin-right:40px ;
	border-radius: 15px;
	position: relative;
	background-color:  inherit;
	color: inherit;

	box-shadow:  0 0 20px 5px #d6d6c2;
}
.vid2{
	width :100%;
  border:5px;
	aspect-ratio: 16/9;
	justify-content: center;
	align-items: center;
	background-color:  inherit;
	color: inherit;
}

.vid_tools{
	width: 100%;
	margin: 1px;
 
	border-bottom-right-radius: inherit;
	border-bottom-left-radius:inherit ;
	aspect-ratio: 10/1;
		background-color:  inherit;
	color: inherit;
}
.font_for_header{
	font-family: "Helvetica";
	letter-spacing: 1px;
}
.font_for_cont{ /* as name suggests font styling - used in home - index,novel; and some other place */
	font-family:"vivaldi";
	font-weight: 15;
	font-style: italic;
	position: relative;


}

.supported{
	border-radius: 10px;
	background-color: #d9d9d9;
   position:absolute;
	margin: 25px;
	padding: 10px;
	bottom: -199px;
   display: flex;
	flex-wrap: wrap;
	flex-direction: row;

}

.highlight  {
	background-color: #ddffcc;
    text-align: center;
	border-radius: 10px;
	margin: 10px;
	 
	padding: 10px;
}

.uploadecho_error{
	font-family: sans-serif;
	margin: 20px;
	padding: 10px;
	border-radius: 5px;
   border-left: 3px solid #ff3333;
	box-shadow: inset 0 0 999px #ffb3b3;
	color: inherit;
}

.uploadecho_success{
	font-family: sans-serif;
	margin: 20px;
	padding: 10px;
	border-radius: 5px;
   border-left: 3px solid #00cc00;
	box-shadow: inset 0 0 999px #b3ffb3;
	color: inherit;
}

{
	scroll-behavior: smooth;
}


/*  */
/*
@keyframes bdanim{
 0%{top: 160px;
 	width: 100px;
 	height: 100px;
 	position: fixed;
 	background-color: green;
 	border-radius: 20px;
 	transform: rotate(45deg);
 	margin-left: 30px;
 	margin-top:-20px ;

 }
 25%{
 	 left: 200px;
 }
 45%{
 	 left: 450px;
 }

 50%{top: 560px;
 		width: 100px;
 	height: 100px;
 	position: fixed;

 	background-color: green;
 	 	border-radius: 20px;
 	transform: rotate(450deg);
 }
 65%{
 	left: 450px;
 }
 75%{
 	left: 200px;
 }
 100%{top: 160px;
 	width: 100px;
 	height: 100px;
 	position: fixed;
 	background-color: green;
 	 	border-radius: 20px;
 	transform: rotate(45deg);
 	margin-left: 30px;
 	margin-bottom:2vh ;
 }

}

.bdani{
	animation-name: bdanim;
	position: relative;
	animation-duration:  10s;
	width: 100%;
	height:available;
 animation-direction: alternate;
	z-index: -99;
 
	animation-iteration-count: infinite;

}*/

@keyframes myanim{ /* used in class 'my' - achieves the slide-down & settle effect  */
	0%{
		top: -60px;

	}


	50%{
		top: 0px;
	 
	}
}
 

 
.my{ /* used in class 'my' - achieves the slide-down & settle effect - animation name "myanim"  */
	animation-name: myanim;
	position: relative;
	animation-duration: 4s;
	width: 100%;
	height:available;
	animation-direction: alternate;
}
 

.unselectable{ /* unselectable text , form, link etc.. */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	user-select: none;
}



      /* this and 'white' after this used in darkmode effect  */
.dark {
	--bg:#333136;
   --fg: #EAE7F2;
 

   _c2: #a3c2c2; /* supposedly for novel list page but not workin */
}

.light {
	--bg:#ECF0F1;
   --fg:#100725;
 
}

body{ /* use the variable */
	background-color: var(--bg);
   color: var(--fg);
   margin: 0 auto;
   transition-duration: 1s;
    
   min-height: 100vh;
   display: flex;
   flex-direction: column;
}

footer{

	background-color:#030506;
	color:#E4DFEE;
	height: ???px;
	padding: 5px;
	font-size: 10px;
	box-shadow:  0 0 10px 0 #1a2a33;
	letter-spacing: 2px;
	font-family:"Helvetica";
}

.after{
	font-size: 50px;
}
.like {
	margin: 10px;
	margin-left:30px ;
	margin-top: 20px;
	font-size: 30px;
	cursor: pointer;
  float: left;
}

.passwd{ /* password content main container - needs improvement */
	 width: 100%;
	 margin: 0 auto;
	 padding-top:10% ;
	 display:flex;  
	 justify-content: center;
	 position: relative;
	}

.passwd_cl{
	width:60%;
	position: absolute;
	text-align: center;
	border-radius: 1px;
	display: block;
	justify-content: center;
	padding: 20px;
   border-radius: 15px 0 15px 0;
	box-shadow: 0 0 10px  #d6d6c2;
	outline: none;
	border: none;
	resize: none;
}

.passbtn{ /* enter button on pass page */
	width: 90px;
	height: 20px;
	background-color: #5cd65c;
	color: inherit;
	border-radius: 5px; margin: auto;
	cursor: pointer;
	outline: none;
	border: none;
	resize: none;
}

.passbtn:hover {
	background-color: #47d147;
}

.passst{ /*   */
	margin: 5px;
	border-radius: 0 10px 0 10px;
}



textarea:focus , input:focus { /* for removing black border on password page - php  */
	outline: none;
}

.movie{ /* pretty sure its obsolete */
	width: 60px;
	height: 20vh;
}

 .for_novel_read{
 	font-family: "arial" ;
 	object-fit: cover;
 	width: 80%;
 	margin: 10%;
 
 }

 
.novel_tool{
	position: fixed;
	width:100%;
	height: 120px;
	bottom: 0px;
	border-top-left-radius:20px ;
	border-top-right-radius: 20px;
	background-color:dimgrey;
	color: lightgoldenrodyellow;
	animation-name: noveltool;
 animation-duration: 1s;
 z-index:60 ;
 
}

@keyframes noveltool {
	0%{
		bottom: -120px;
	}
 
	100%{
		bottom: 0px;
	}
}

@keyframes close_tools{
		0%{
		bottom: -120px;
	}
  50%{
  	bottom: -60px;
  }
	100%{
		bottom: 16px;
	}
}
 


.bac_2_top {/* novel back to top button */
	display:  none;
	animation-name: close_tools;
   animation-duration: 0.75s;
}

  .shw {/* novel back to top button */
  display:  block;/* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 16px; /* Place the button at the bottom of the page */
  right: 16px; /* Place the button 30px from the right */
  z-index:99 ; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
   cursor: pointer; /* Add a mouse pointer on hover */
   background-color: inherit;
   color: inherit;
   animation-name: close_tools;
   animation-duration: 0.75s;
  padding: ; /* Some padding */
  /* Rounded corners */
  font-size:24px ; /* Increase font size */
 
 }

 
 
 .cont_inside_cont_upl{ /* for uploads page */
	width: 80%;
	height:20%;
	margin:20px;
	background-color: inherit;
	color: inherit;
	padding: 5px;
	border-radius: 0px 0px 10px 0px ;
	justify-content: center;
	text-align: center; 
	padding: relative;
	cursor: pointer;
	border-width: 5px;
	border-left: solid;
	box-shadow: inset 0 0 100px #d6d6c2;
}

.drpshow.new{ /* drop down stuff */
	display: block;
	float:left;
	color:inherit;
	background-color:#1a1a1a;
	text-align:center;
	top:54px;
	left:80px;
	padding: 10px;
	border-radius: 10px;
	font-size:14px;
	text-decoration:none;
	position: absolute;
	z-index: 99;
	opacity: 1;
	transition-duration: 2s;
}
 
}
.new3{ /* for the sake of fixing double click for js onclick */
	outline: none;
}

@keyframes myanim2{ /* used in class 'my2' - achieves the slide-down & settle effect for drop down  */
 0%{
 	top: 50px;
 }
 
	100%{
		top: 54px;
	 
	}
}
 

 
.my2{ /* used in class 'my2' - achieves the slide-down & settle effect - animation name "myanim"  */
	animation-name: myanim2;
	position: relative;
	animation-duration: 0.5s;
	width:auto;
	height:available;
}

.abt_link:link{
	color: inherit;

} 
.abt_link:visited{
	color: inherit;
}
 
 .link{
 	text-decoration: none;
 		color: inherit;
 }
.link:visited{
	color: inherit;
}
.creat{
 margin: 20px;
 box-shadow:0 0 15px #7a7a52 ;
 height: 300px;
}
.creat_font_hd{
	text-align: center;
	 
	font-size: 36;
}

.upload{
	width: 500px;
	background: #f0f0f0;
	border: 1px solid #ddd;
	padding: 20px;
}

.upload fieldset{
	border: 0;
	padding: 0;
	margin-bottom: 10px;
}

.upload fieldset legend{
	font-size: 1.2em;
	margin-bottom: 10px;
}

.bar{
	width: 90%;
	margin: 5px;
	display: inline-block;
	background: #eee;
	padding: 3px;
	margin-bottom: 10px;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, .3);
	border-radius: 5px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.bar-fill{
	height: 20px;
	display: block;
	background: cornflowerblue;
	width: 0;
	border-radius: 5px;

	transition: width 0.8s ease;
	-webkit-transition: width 0.8s ease;
	-moz-transition: width 0.8s ease;
}

.bar-fill-text{
	color: #fff;
	padding: 3px;
}

.uploads a, .uploads span{
	display: block;
}